@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/background-police.png') center/cover no-repeat;
  color: white;
  font-family: 'Tajawal', sans-serif;
}

input, select, button {
  color: black;
}

@keyframes glow {
  0%, 100% { filter: drop-shadow(0 0 8px #00b7ff); }
  50% { filter: drop-shadow(0 0 12px #fff); }
}

.glow {
  animation: glow 2s infinite;
}
